
{{ define "main" }}
    <main aria-role="main">
      <header class="homepage-header text-center">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
      </header>
      <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div class="container">
        <form id="perkplanten-form" class="" action="perkplanten.php" method="post" accept-charset="UTF-8">
		  <fieldset id="personal-data" class="plant-category">
			  <legend>Jouw gegevens</legend>
			  <div class="form-item">
				<label for="naam-leerling">Voornaam en naam van de leerling waarmee de perkplanten zullen worden meegegeven.</label>
				<input id="naam-leerling" name="naam-leerling" class="form-text required" type="text" />
			  </div>
			  <div class="form-item">
				<label for="klas">Klas:</label>
				<select id="klas" name="klas" class="form-select required">
					<option value="" selected="selected">- Selecteer -</option>
					{{ range .Site.Data.klassen.klassen }}
					<option value="{{ .id }}" >{{ .name }}</option>
					{{ end }}
				</select>
			  </div>
			  <div class="form-item">
				<label for="email">Jouw e-mail:</label>
				<input id="email" name="email" class="form-email required" type="email" />
			  </div>
			  <div class="form-item hidden">
				<label for="email2">Herhaal e-mail:</label>
				<input id="email2" name="email2" class="form-email" type="email" />
			  </div>
          </fieldset>
            {{ range .Site.Data.plants.plants }}
				{{ range $key, $value := . }}
				<fieldset id="{{ $key }}" class="plant-category">
					<legend>{{ $key }}</legend>
					<div class="fieldset-wrapper">
						{{ range . }}
						<div class="form-item row">
						  <div class="col-sm-4">
						    <img src="{{ .image }}" alt="{{ .name }}" class="" />
						  </div>
						  <div class="col-sm-8 text-right">
						    <label for="{{ .id }}">{{ .name }} ({{ .price }} Euro)</label>
						    <input id="{{ .id }}" class="perkplant-input" name="{{ .id }}" data-item-price="{{ .price }}" size="4"/>
						    <span class="field-suffix">stuks</span>
						  </div>
						</div>
						{{ end }}
				{{ end }}
					</div>
				</fieldset>
            {{ end }}
		  <div class="form-item text-right">
			<label for="total">Totaal (Euro):</label>
			<input id="total" name="total" size="6"/>
		  </div>
            <div class="form-item">
			  <p>Uw bestelling is definitief na overschrijving op rekeningnummer BE58 9730 3355 6879 met vermelding van naam, voornaam en klas van uw kind.</p>
			</div>
			<div id="submit-success" class="success">
				<p>Dankjewel, de e-postbode is onderweg :)</p>
			</div>
			<div id="submit-fail" class="error">
				<p>Sorry, geen idee wat er misgelopen is. Probeer later opnieuw. :(</p>
			</div>
            <div class="form-item">
			  <input type="submit" id="perkplanten-submit" name="op" value="Bestellen" class="btn btn-primary">
			</div>
        </form>
      </div>
    </main>
{{ end }}
