{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
        <form id="" class="" action="" method="post" accept-charset="UTF-8">
          <div class="form-item">
            <label for="naam-leerling">Voornaam en naam van de leerling waarmee de perkplanten zullen worden meegegeven.</label>
            <input id="naam-leerling" name="naam-leerling" class="form-text required" type="text" />
          </div>
          <div class="form-item">
            <label for="klas">Klas:</label>
            <select id="klas" name="klas" class="form-select required">
			  <option value="" selected="selected">- Selecteer -</option>
			  <option value="anniek">Juf Anniek</option>
			  <option value="bruno">Meester Bruno</option>
			  <option value="els">Juf Els</option>
			  <option value="tineke">Juf Tineke</option>
			  <option value="laura">Juf Laura</option>
			  <option value="jana">Juf Jana</option>
			  <option value="personeel">Personeel</option>
            </select>
          </div>
          <div class="form-item">
            <label for="email">Jouw e-mail:</label>
            <input id="email" name="email" class="form-email required" type="email" />
          </div>
            {{ range .Site.Data.plants.plants }}
				{{ range $key, $value := . }}
				<fieldset id="{{ $key }}" class="plant-category">
					<legend>{{ $key }}</legend>
					<div class="fieldset-wrapper">
						{{ range . }}
						  <img src="{{ .image }}" alt="{{ .name }}" class="" />
						  <label for="{{ .id }}">{{ .name }} ({{ .price }} Euro)</label>
						  <input id="{{ .id }}" name="{{ .id }}" size="4"/>
						{{ end }}
				{{ end }}
				  </div>
				</fieldset>
            {{ end }}

        </form>
            {{ range .Site.Data.plants.plants }}
				{{ range $key, $value := . }}
					category is: {{ $key }}
					{{ $value }}
						{{ range . }}
							{{ with .id }} id is: {{ . }} {{ end }}
							{{ with .image }} image is: {{ . }} {{ end }}
							{{ with .name }} name is: {{ . }} {{ end }}
							{{ with .price }} price is: {{ . }} {{ end }}
						{{ end }}
				{{ end }}
            {{ end }}

      </div>
    </article>
  </div>
{{ end }}
