h1 {
  margin-bottom: 2em;
}
body {
  font-size: 16px;
}
.container {
  max-width: 960px;
}
fieldset {
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 2em;
}
legend {
  background-color: #D9EEA5;
  padding: 1em 0 1em 0;
}
.form-item {
  padding: 1em 0 1em 0;
}
.plant-category {
  padding: 0 0 1em 0;
}
label {
  padding-right: 2em;
}
#submit-success, #submit-fail {
  display:none;
}
