
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
	<meta name="author" content="Johan Goris">
	<title>{{ .Title | default .Site.Title }}{{ if not .IsHome }} - {{ .Site.Params.Name }}{{ end }}</title>
	<link rel="shortcut icon" href="/{{ .Site.Params.favicon }}">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->
</head>
